<div class="contenedor">
  <div class="image-container" #imageContainer> 
    <img *ngIf="imageUrl" [src]="imageUrl" class="user-image">
    <img [src]="marcoImageUrl" class="marco-image">
  </div>

  <div class="upload-download-container">
    <button (click)="triggerFileInput()">Seleccionar imagen</button>
    <input type="file" id="file-input" accept="image/*" (change)="onFileSelected($event)" hidden>
    <button *ngIf="imageUrl" (click)="downloadImage()">Descargar imagen</button>
    <button *ngIf="!imagenCargada" (click)="cambiarMarco()">Cambiar marco</button>
    <button class="reiniciar" (click)="reiniciarPagina()">Reiniciar</button>
  </div>
</div>